@font-face {
  font-family: GameBoy;
  src: url(../early_gameboy/Early\ GameBoy.ttf);
}
@font-face {
  font-family: controler;
  src: url(../Mortend\ Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GameBoy;
}

body {
  display: flex;
  background-color: #191919;
  min-height: 100vh;
  color: #346856;
  text-shadow: 2px 0px 0px #081820;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#gameboy {
  display: flex;
  width: max(400px, 15vw);
  height: 95vh;
  max-height: 650px;
  margin: 20px;
  background-color: #C6C1BD;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 7px 5px 1px 1px gray;
  border-radius: 15px 15px 45px 15px;
}

#pelicula {
  margin-top: 35px;
  display: flex;
  width: 350px;
  height: 325px;
  border: 2px solid rgba(0, 0, 0, 0.068);
  border-radius: 10px 10px 40px 10px;
  align-items: center;
  justify-items: center;
  background-color: #8F8792;
  justify-content: center;
}

#tela {
  position: relative;
  width: 260px;
  height: 260px;
  background-color: #D0F4B8;
}

.bnt-controler {
  position: relative;
  width: 100%;
  height: 150px;
}
.bnt-controler .menu-button {
  position: relative;
  width: 110px;
  height: 110px;
  align-self: baseline;
  margin-left: 25px;
  margin-top: 25px;
}
.bnt-controler .menu-button button {
  background-color: #262827;
  position: absolute;
  padding: 7.75px;
  border: none;
  cursor: pointer;
}
.bnt-controler .menu-button button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.bnt-controler .menu-button .material-symbols-outlined {
  color: #262827;
}
.bnt-controler .right {
  box-shadow: 3px 4px 0px 0px #7d7b78;
  border-radius: 0px 6px 6px 0px;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
}
.bnt-controler .right:active {
  transition: 0.2s;
  box-shadow: 2px 2px 0px 0px #7d7b78;
}
.bnt-controler .left {
  border-radius: 6px 0px 0px 6px;
  top: 50%;
  transform: translateY(-50%);
}
.bnt-controler .left span {
  rotate: 180deg;
}
.bnt-controler .down {
  box-shadow: 8px 4px 0px -5px #7d7b78;
  border-radius: 0px 0px 6px 6px;
  top: 100%;
  left: 35%;
  transform: translateY(-100%);
}
.bnt-controler .down span {
  rotate: 90deg;
}
.bnt-controler .up {
  box-shadow: 7px -5px 0px -5px #7d7b78;
  border-radius: 6px 6px 0px 0px;
  left: 35%;
}
.bnt-controler .up span {
  rotate: 270deg;
}
.bnt-controler .enter {
  left: 34.5%;
  top: 34.5%;
}
.bnt-controler .enter div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #262827;
  box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5490196078);
}
.bnt-controler .game-bnt {
  position: absolute;
  top: 40%;
  left: 65%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  transform: rotate(-20deg);
}
.bnt-controler .game-bnt .bnt-B {
  margin-right: 20px;
}
.bnt-controler .game-bnt .bnt-A, .bnt-controler .game-bnt .bnt-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: controler, Arial, Helvetica, sans-serif;
  text-shadow: none;
  color: #9C2158;
  font-size: 13px;
  transform: rotate(20deg);
}
.bnt-controler .game-bnt .bnt-A button, .bnt-controler .game-bnt .bnt-B button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: #9C2158;
  box-shadow: 2px 4px 0px #761943;
  margin-bottom: 10px;
}
.bnt-controler .game-bnt .bnt-A button:active, .bnt-controler .game-bnt .bnt-B button:active {
  box-shadow: 1px 2px 0px #761943;
  transition: 0.1s;
  transform: translate(1px, 2px);
}
.bnt-controler .game-bnt .bnt-A button:focus, .bnt-controler .game-bnt .bnt-B button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.config-game {
  display: flex;
}
.config-game .bnt-select {
  margin-right: 20px;
}
.config-game .bnt-select, .config-game .bnt-start {
  display: flex;
  transform: rotate(-20deg);
  flex-direction: column;
  font-family: controler, Arial, Helvetica, sans-serif;
  text-shadow: none;
  color: #413A64;
  font-size: 11px;
  text-align: center;
}
.config-game .bnt-select button, .config-game .bnt-start button {
  width: 40px;
  height: 15px;
  background-color: #827E7F;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 4px 0px 0px #686465;
  margin-bottom: 10px;
}
.config-game .bnt-select button:active, .config-game .bnt-start button:active {
  box-shadow: 1px 2px 0px #686465;
  transition: 0.1s;
  transform: translate(1px, 2px);
}
.config-game .bnt-select button:focus, .config-game .bnt-start button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.menu-paused {
  display: none;
}

canvas {
  border: 10px solid #346856;
  background-color: #D0F4B8;
  width: 260px;
  height: 210px;
  filter: blur(0px);
}

.screenShadow {
  position: absolute;
  top: 0%;
  width: 260px;
  padding-top: 120px;
  height: 261px;
  background-color: transparent;
  box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.6705882353);
  z-index: 1;
}

.screenBlack {
  display: none;
  position: absolute;
  width: 260px;
  top: 0%;
  height: 100%;
  background-color: rgba(52, 104, 86, 0.6588235294);
  z-index: 1;
}

.point {
  display: flex;
  flex-direction: row-reverse;
}

.level {
  margin-right: 60px;
}

.score, .level {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.score-value, .level-value {
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  margin-top: 0px;
}

.menu-screen {
  position: absolute;
  display: none;
  width: 259px;
  height: 217px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
  z-index: 2;
}

.menu-paused {
  position: absolute;
  display: none;
  width: 259px;
  height: 217px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: black;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
  z-index: 2;
}
.menu-paused .bnt-return {
  background-color: transparent;
  border: none;
}
.menu-paused .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.menu-paused .material-symbols-outlined {
  font-size: 40px;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4901960784);
  color: black;
}

.final-score {
  font-weight: 500;
  font-size: 1rem;
}

.game-over {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.bnt-play {
  border: none;
  border-radius: 100px;
  padding: 10px 15px 10px 12px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

body {
  height: 100vh;
}

html, body {
  overflow: hidden;
}

#gameboy {
  zoom: 100%;
}

/*# sourceMappingURL=style.css.map */
