@charset 'UTF-8';
//Paleta De Cores:
$bodyCollor:#191919;
$borderCanva:#346856;
$textBody:#346856;
$fundoGame:#D0F4B8;


@font-face {
    font-family: GameBoy;
    src: url(../early_gameboy/Early\ GameBoy.ttf);
}



*{ margin: 0; padding: 0; box-sizing: border-box; font-family: GameBoy; }

body{
    display: flex;
    background-color: #191919;
    min-height: 100vh;
    color: #346856;
    text-shadow: 2px 0px 0px #081820;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#gameboy{
    display: flex;
    width: 400px;
    height: 95vh;
    background-color: #346856;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#pelicula{
    display: flex;
    width: 350px;
    height: 325px;

    border-radius: 10px 10px 40px 10px;
    
    align-items: center;
    justify-items: center;
    background-color: gray;
 
    justify-content: center;
}
#tela{
    
    width: 260px;
    height: 260px;
    background-color: $fundoGame;
    
}
canvas{
    border: 10px solid $borderCanva ;
    background-color: $fundoGame;
    width: 260px;
    height: 210px;
    filter: blur(0px);
    
}
.screenBlack{
    display: none;
    position: absolute;
    width: 260px;
    padding-top: 120px;
    height: 217px;
    background-color: #191919c2;
    z-index: 1;
}
.point{
    display: flex;
    flex-direction: row-reverse;
}
.level{
    margin-right: 60px;
}
.score , .level{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.score-value , .level-value{
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    margin-top: 0px;
}
.menu-screen{
    position: absolute;
    display: none;
    width: 259px;
    height: 217px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;

    z-index: 2;
}

.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}
.final-score{
    font-weight: 500;
    font-size: 1rem;

}

.bnt-play{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: .8rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.menu-button{ 
    position: relative;
    width: 120px;
    height: 120px;
    
    button{
        background-color: #081820;
        position: absolute;
        padding: 5px;
    }

        .material-symbols-outlined{
            color: white;
        }

}
.right{
    
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}
.left{
    top: 50%;
    transform: translateY(-50%);
    span{ rotate: 180deg;
    }
}
 .down{
    top: 100%;
    left:35%;
    transform: translateY(-100%);
    span{rotate: 90deg}
} 
 .up{
    left:35%;
    span{rotate: 270deg;}
}
